 {{> message}}
 
 <div class="card h-auto w-50 mx-auto mt-3 mb-5">
    <div class="text-center mt-3"><h1>登入</h1></div>
    <form action="/login" method="post">
      <div class="card-body row align-items-center">
  
        <!-- email -->
        <div class="col-3 my-3">
          <label for="email">
            <h5>Email</h5>
          </label>
        </div>
        <div class="col-9 my-3">
          <input type="email" name="email" placeholder="please input email" class="form-control form-control-lg" required>
        </div>
  
        <!-- password -->
        <div class="col-3 my-3">
          <label for="password">
            <h5>Password</h5>
          </label>
        </div>
        <div class="col-9 my-3">
          <input type="password" name="password"  placeholder="please input password" class="form-control form-control-lg" required>
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-lg btn-primary" style="width: 300px;">登入</button>
        </div>
    </form>
        <div class="text-center mt-3">
          <form action="/login/facebook" method="GET">
            <button type="submit" class="btn btn-lg btn-primary" style="width: 300px;">
              <i class="fab fa-facebook-f"></i> Facebook登入
            </button>
          </form>
        </div>

  </div>
  

<div class="text-center">
<p>No account? <a href="/users/register" >註冊</a></p>
</div>