{{> message}}

<h1 class="mb-1 restaurant-show-title">新增</h1>

<div class="card h-auto w-50 mx-auto mt-3 mb-5">
  <form action="/restaurants" method="post" id="create-form" class="needs-validation" novalidate>
    <div class="card-body row align-items-center">

      <!-- name -->
      <div class="col-3 my-3">
        <label for="name">
          <h5>name</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="text" name="name" id="name" placeholder="please input name" class="form-control form-control-lg" value="" required>
        <div class="invalid-feedback">請輸入中文名</div>
      </div>

      <!-- name_en -->
      <div class="col-3 my-3">
        <label for="name_en">
          <h5>name_en</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="text" name="name_en" id="name_en" placeholder="please input name_en"
          class="form-control form-control-lg">
      </div>

      <!-- category -->
      <div class="col-3 my-3">
        <label for="category">
          <h5>category</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="text" name="category" id="category" placeholder="please input category"
          class="form-control form-control-lg" required>
          <div class="invalid-feedback">* 請輸入餐廳類別</div>
      </div>

      <!-- image -->
      <div class="col-3 my-3">
        <label for="image">
          <h5>image</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="url" name="image" id="image" placeholder="please input image URL"
          class="form-control form-control-lg" required>
          <div class="invalid-feedback">* 請輸入圖片網址</div>
      </div>

      <!-- location -->
      <div class="col-3 my-3">
        <label for="location">
          <h5>location</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="text" name="location" id="location" placeholder="please input location"
          class="form-control form-control-lg" required>
           <div class="invalid-feedback">* 請輸入餐廳地址</div>
      </div>

      <!-- phone -->
      <div class="col-3 my-3">
        <label for="phone">
          <h5>phone</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="text" name="phone" id="phone" placeholder="please input phone" class="form-control form-control-lg"
          required>
          <div class="invalid-feedback">* 請輸入餐廳電話</div>
      </div>

      <!-- google_map -->
      <div class="col-3 my-3">
        <label for="google_map">
          <h5>google_map</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="url" name="google_map" id="google_map" placeholder="please input google_map URL"
          class="form-control form-control-lg" required>
          <div class="invalid-feedback">* 請輸入Google Map 連結</div>
      </div>

      <!-- rating -->
      <div class="col-3 my-3">
        <label for="rating">
          <h5>rating</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <input type="number" min="1" max="5" step="0.1" name="rating" id="rating" placeholder="please input rating"
          class="form-control form-control-lg" required="\d+">
           <div class="invalid-feedback">* 請輸入餐廳評分</div>
      </div>

      <!-- description -->
      <div class="col-3 my-3">
        <label for="description">
          <h5>description</h5>
        </label>
      </div>
      <div class="col-9 my-3">
        <textarea name="description" id="description" placeholder="please input description"
          class="form-control" style="resize:none"></textarea>
      </div>

      <!-- buttons -->
      <div class="card-footer text-end">
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
        <button type="reset" class="btn btn-lg btn-danger">Reset</button>
        <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/'"
        style="color: aliceblue; text-decoration: none">Back</button>
      </div>
  </form>
</div>

<script src="/javascript/form-invalidation.js"></script>